.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

esbuild.js
webviews/design.html
readme_content/**

# WARNING: .node files (native binaries) will not be copied to the extension
# This makes the extension cross platform.
# The library that's supposed to load these native binaries (ssh2) checks if their available before use
# All .node files used by ssh2 are OPTIONAL, so it should have no effect excluding them
#
# If for some reason ssh2 doesn't work anymore (upload fails or the extension won't load properly),
# please comment the line below to re-include the .node files
dist/*.node